::selection {
  background-color: rgba(200, 200, 70, 0.7);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  color: black;
}

html {
  height: 100%;
  font-size: 1.2vw;
}

body {
  background-color: #F9F9F9;
  line-height: 1;
  font-family: 'Arial';
  font-weight: normal;
  text-shadow: none;
  height: 100%;
}

hr {
  width: 100%;
  background-color:rgba(120, 20, 20, 1);
  height: 1px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

@keyframes hovereffect1 {
  0%{background-position:0% 74%}
  50%{background-position:100% 27%}
  100%{background-position:0% 74%}
}

.hoverEffect1 {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0);
}
.hoverEffect1:hover {
  background: linear-gradient(218deg, #2A8, #555, #8CC);
  background-size: 600% 600%;
  animation: hovereffect1 15s ease infinite;
  border-style: solid;
  border-width: 2px;
  border-color:#255;
  border-radius: 50%;
}

canvas.animatedText {
  width: 1;
  height: 1;
  display: none;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto 0 auto;
  line-height: 2;
}

#top {
  display: flex;
  justify-content: space-between;
  margin: 3% 0 3% 0;
}

#middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: -6%;
}

#bottom {
  display: flex;
  justify-content: space-between;
  margin: 3% 0 3% 0;
}
  #bottom * {
    margin: auto 0 0 0;
  }

#email2, #telno {
  margin-left: auto;
}

#pgmr {
  margin-left: auto;
}

#specl {
  float: right;
}

#specla, #speclb {
  float: left;
}

#pr {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -12%;
}

#prt {
  margin: 0 auto 0 auto;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sep {
  color: red;
  margin-top: 0.16em;
}

.img-github, .img-download {
  width: 1.6em;
  height: 1.6em;
  margin-top: 0.35em;
}

#cpyr {
  margin-top: auto;
}

.gaugecont {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  border-radius: 1rem;
  padding: 0.4rem 1rem 0.6rem 0.8rem;
  transition: background-color 1s ease-out;
}

.gaugecontx {
  background-color: rgba(100, 100, 250, 0.08);
}

.gauge {
  width: 0.25rem;
  height: 5rem;
  background-color: rgba(250, 100, 100, 0.025);
  border-style: solid;
  border-color: rgba(100, 100, 250, 0.025);
  border-width: 1px;
  border-radius: 10px;
  transition: background-color 0.7s ease-out, border-color 0.7s ease-out;
  margin: 0.5rem 0 0 0;
  padding: 0;
}

.gaugesel {
  background-color: rgba(250, 100, 100, 0.5);
  border-color: rgba(100, 100, 250, 0.5);
}

.gaugeselx {
  background-color: rgba(250, 100, 100, 0.15);
  border-color: rgba(100, 100, 250, 0.15);
}

.gaugein {
  background-color: rgba(180, 180, 250, 0.025);
  border-style: solid;
  border-color:rgba(200, 0, 100, 0.025);
  border-width: 1px;
  margin: auto;
  border-radius: 10px;
  transition: background-color 0.7s ease-out, border-color 0.7s ease-out;
  padding: 0;
}

.gaugeinsel {
  background-color: rgba(180, 180, 250, 0.5);
  border-color:rgba(200, 0, 100, 0.5);
}

.gaugeinselx {
  background-color: rgba(180, 180, 250, 0.15);
  border-color:rgba(200, 0, 100, 0.15);
}

.gaugeknob {
  position: relative;
  background-color: rgba(100, 100, 150, 0.035);
  border-style: solid;
  border-color:rgba(200, 0, 100, 0.035);
  border-width: 2px;
  transition: background-color 0.5s ease-out, border-color 0.5s ease-out;
  margin: 0.5rem 0 0 0;
  padding: 1px;
}

.gaugeknob0 {
  width: 0.6rem;
  height: 0.4rem;
  border-radius: 0.5rem 0 0 0.5rem;
  left: 1.12rem;
}

.gaugeknob1 {
  width: 0.6rem;
  height: 0.4rem;
  border-radius: 0 0.5rem 0.5rem 0;
  left: 1.22rem;
}

.gaugeknob2 {
  width: 1rem;
  height: 0.5rem;
  border-radius: 0.4rem;
  left: 0.87rem;
}

.gaugeknobsel {
  background-color: rgba(100, 100, 150, 0.5);
  border-color:rgba(200, 0, 100, 0.5);
  transition: background-color 0.2s ease-out, border-color 0.5s ease-out;
}

.gaugeknobselx {
  background-color: rgba(100, 100, 150, 0.15);
  border-color:rgba(200, 0, 100, 0.15);
}

.gaugeknobsel2 {
  background-color: rgba(100, 0, 0, 0.5);
  border-color:rgba(250, 50, 50, 0.6);
}

.gaugeknobin {
  width: 40%;
  height: 40%;
  background-color: rgba(180, 180, 250, 0.035);
  border-style: solid;
  border-color:rgba(200, 0, 100, 0.035);
  border-width: 2px;
  margin: auto;
  border-radius: 0.5rem;
  transition: background-color 0.5s ease-out, border-color 0.5s ease-out;
  padding: 0;
}

.gaugeknobinsel {
  background-color: rgba(180, 180, 250, 0.5);
  border-color:rgba(100, 0, 100, 0.5);
  transition: background-color 0.2s ease-out, border-color 0.5s ease-out;
}

.gaugeknobinselx {
  background-color: rgba(180, 180, 250, 0.15);
  border-color:rgba(100, 0, 100, 0.15);
}

.gaugeknobinsel2 {
  background-color: rgba(250, 250, 250, 0.5);
  border-color:rgba(150, 0, 150, 0.6);
}

.gaugetxt {
  font-family: 'Open Sans Condensed, Bold';
  color: rgba(255, 255, 255, 0);
  font-size: 0.1rem;
  transition: color 1s ease-out, font-size 1s ease-out;
  margin: 0 0 0 auto;
  padding: 0;
  position: absolute;
  user-select: none;
  top: 0.4rem;
}

.gaugetxtsel {
  color: rgba(0, 0, 0, 1);
  font-size: 1rem;
}

.gaugebtns {
  display: flex;
  flex-direction: column;
  margin: 0 0.4rem 0 0;
  padding: 0.2rem 0 0 0;
}

.gaugebtn {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 0.4rem;
  background-color: rgba(100, 100, 150, 0.035);
  border-style: solid;
  border-color:rgba(200, 0, 100, 0.06);
  background-color: rgba(100, 100, 150, 0.035);
  border-width: 2px;
  color:rgba(200, 0, 100, 0.05);
  transition: background-color 0.5s ease-out, border-color 0.5s ease-out, color 0.5s ease-out;
  margin: 0.1rem 0.2rem 0 0;
  padding: 0;
  font-family: 'Verdana';
  font-size: '1.1rem';
  font-style: 'bold';
  text-align: center;
  line-height: 1.1rem;
  user-select: none;
}

.gaugebtnsel {
  background-color: rgba(100, 100, 150, 0.5);
  border-color:rgba(200, 0, 100, 0.5);
  color:rgba(200, 0, 100, 0.4);
  transition: background-color 0.2s ease-out, border-color 0.5s ease-out, color 0.5s ease-out;
}

.gaugebtnselx {
  background-color: rgba(100, 100, 150, 0.15);
  border-color:rgba(200, 0, 100, 0.15);
  color:rgba(200, 0, 100, 0.15);
}

.gaugebtnsel2 {
  border-color:rgba(255, 0, 0, 1);
  color:rgba(255, 0, 0, 1);
}

@media all and (max-width: 1200px) {
  #container {
    width: 75%;
  }
}
@media all and (max-width: 1000px) {
  #container {
    width: 80%;
  }
}
@media all and (max-width: 800px) {
  #container {
    width: 85%;
  }
}
@media all and (max-width: 600px) {
  #container {
    width: 90%;
  }
}
@media all and (max-width: 400px) {
  #container {
    width: 95%;
  }
}
@media all and (max-width: 200px) {
  #container {
    width: 100%;
  }
}
@media all and (min-width: 1201px) {
  #container {
    width: 70%;
  }
}
